{{ section.settings.image_text_desc }}
<div class="image-text-desc">123321</div>
{% schema %}
{
  "name": "Image Text Desc",
  "tag": "section",
  "class": "section-image-text-desc",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom liquid",
      "info": "Add app snippets or other Liquid code to create advanced customizations."
    }
  ],
  "presets": [
    {
      "name": "Custom liquid"
    }
  ]
}
{% endschema %}
