{{ 'image-text-logo.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign section_heading = section.settings.heading
  assign section_description = section.settings.description
  assign background_image = section.settings.image
-%}

<div class="image-text-logo">
  <div class="image-text_bg">
    {%- render 'responsive-image', image: background_image, sizes: background_image.src.width | append: 'x' | append: background_image.src.height -%}
  </div>
  <div class="image-text_container">
    <div class="small-12 section-max-width">
      {% render 'section-header', section_heading: section_heading %}
      <div class="image-text_desc">
        {{ section_description }}
      </div>
      <div class="image-text_inner d-flex align-center justify-center flex-wrap-reverse">
        {% for block in section.blocks %}
          {% if block.settings.image %}
            <div class="logo-image">
              {% assign image = block.settings.image %}
              {% assign master_width = image.src.width | append: 'x' | append: image.src.height %}
              {%- render 'responsive-image', image: image, sizes: master_width -%}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image Text Logo",
  "class": "yee-image-text-logo",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured Collection",
      "info": "Wrap your text between | to add animated markers. For example: Animated |marker| will underline marker text."
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Describe your featured collection here</p>"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile Background image (optional)"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full width",
      "default": false
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_top_spacing",
      "default": false,
      "label": "Remove top spacing"
    },
    {
      "type": "checkbox",
      "id": "disable_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "text",
          "id": "logo_heading",
          "label": "Heading",
          "default": "Logo list",
          "info": "Wrap your text between | to add animated markers. For example: Animated |marker| will underline marker text."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Logo",
          "info": "240 x 100 px .png recommended."
        },
        {
          "id": "link",
          "type": "url",
          "label": "Link",
          "info": "Select an optional link."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Text Logo",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
