{{ 'image-products.css' | asset_url | stylesheet_tag }}
{{ 'product-grid.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign section_title = section.settings.title
  assign conver_image = section.settings.image
  assign mobile_cover_image = section.settings.image_mobile
  assign section_reverse = section.settings.reverse
  assign background_image = section.settings.background_image
  assign halloween_hand_flag = section.settings.halloween_hand_flag
-%}

<div class="image-products">
  {%- if settings.halloween_flag -%}
    <div class="image-product-bg">
      {% comment %}
        {%- if background_image -%}
          {%- render 'responsive-image', image: background_image, sizes: background_image.src.width | append: 'x' | append: background_image.src.height -%}
        {%- endif -%}
      {% endcomment %}
      <div class="image-product-bg-icons">
        <div class="ic-moon">
          {%- render 'svg-icons-halloween' with 'custom-halloween-moon' -%}
        </div>
        <div class="ic-spider-web-small">
          {%- render 'svg-icons-halloween' with 'custom-halloween-spider-web-small' -%}
        </div>
        <div class="ic-ghost">
          {%- render 'svg-icons-halloween' with 'custom-halloween-ghost' -%}
        </div>
      </div>
    </div>
  {%- endif -%}

  <div class="row image-product-row">
    <div class="image-product-header">
      {% render 'section-header', section_heading: section_title %}
    </div>
    <div class="image-products-container {{section_reverse}}">
      {%- if settings.halloween_flag and halloween_hand_flag -%}
        <div class="image-product-halloween-hand">
          {%- render 'svg-icons-halloween' with 'custom-halloween-hand' -%}
        </div>
      {%- endif -%}
      <div class="image-products--img">
        <div class="mobile-cover-img">
          {% assign master_width = mobile_cover_image.src.width | append: 'x' | append: mobile_cover_image.src.height %}
          {% render 'responsive-image', image: mobile_cover_image, sizes: master_width %}
        </div>
        <div class="cover-img">
          {% assign master_width = conver_image.src.width | append: 'x' | append: conver_image.src.height %}
          {% render 'responsive-image', image: conver_image, sizes: master_width %}
        </div>
      </div>
      <div class="image-products--product">
        {% for block in section.blocks %}
          <div class="product-item">
            {% render 'product-card', product_card_product: block.settings.product %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Products",
  "class": "section-image-products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Header Title",
      "info": "Wrap your text."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1440 x 650 px .jpg recommended."
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile image",
      "info": "750 x 800 px .jpg recommended. Default image is used if none is selected. To position the hotspots precisely, switch to mobile mode."
    },
    {
      "type": "select",
      "id": "reverse",
      "options": [
        {
          "value": "row-regular",
          "label": "Right"
        },
        {
          "value": "row-reverse",
          "label": "Left"
        }
      ],
      "default": "row-regular",
      "label": "Product Position"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Mobile Background image (optional)"
    },
    {
      "type": "checkbox",
      "id": "halloween_hand_flag",
      "default": false,
      "label": "Show Halloween Hand"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Products",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
