<div class="product-info"></div>

{% schema %}
{
  "name": "Product Info",
  "class": "yee-product-Info",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Product Info"
    }
  ]
}
{% endschema %}
