{{ 'image-products.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign section_title = section.settings.title
-%}

<div class="scene-recommend">
  <div class="scene-recommend-inner row">
    {% render 'section-header', section_heading: section_title %}
    <div class="scene-recommend-content">
      {%- for variable in array reversed limit: number offset: number -%}
        {%- render 'responsive-image', variable: value -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Scene Recommend",
  "class": "yee-scene-recommend",
  "settings": [
    {
      "type": "header",
      "content": "content config"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Add a title"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Scene Recommend",
      "blocks": [
        {
          "type": "form"
        }
      ]
    }
  ]
}
{% endschema %}
