.acitivity-products {
  position: relative;
}

.activity-products-halloween {
  background: #090538;
}

.acitivity-products-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #090538;
}

.acitivity-products-bg-icons {
  width: 100%;
  height: 100%;
  position: relative;
}

.acitivity-products--img {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1750px;
}

.acitivity-products-bg-icons .ic-spider-left {
  position: absolute;
  left: 0;
  bottom: 120px;
}

.acitivity-products-bg-icons .ic-spider-right {
  position: absolute;
  right: 0;
  top: 650px;
}

.acitivity-products-bg-icons .ic-ghost {
  position: absolute;
  left: 0;
  bottom: 200px;
}

.acitivity-products--info {
  width: 100%;
  margin: 60px 0;
}

.acitivity-products--img .mobile-cover-img,
.acitivity-products--info .mobile-info-img {
  display: none;
}

.acitivity-products--info .info-img,
.acitivity-products--info .mobile-info-img {
  width: 100%;
  text-align: center;
}

.acitivity-products--info .info-img img,
.acitivity-products--info .mobile-info-img img {
  margin: 0 auto;
}

.acitivity-products--info .info-img img {
  width: 60%;
}

.activity-products-row .acitivity-products--product {
  margin-top: 820px;
  gap: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
}

.activity-products-row .acitivity-products--product .product-item {
  width: calc(25% - 24px);
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .acitivity-products--img .mobile-cover-img,
  .acitivity-products--info .mobile-info-img {
    display: block;
  }

  .acitivity-products--img .cover-img,
  .acitivity-products--info .info-img {
    display: none;
  }
}
