.acitivity-products {
  background: #090538;
  position: relative;
}

.acitivity-products--img {
  position: absolute;
  top: 30px;
  margin: 0 auto;
  max-width: 1750px;
}

.acitivity-products--img .mobile-cover-img {
  display: none;
}

.activity-products-row .acitivity-products--product {
  margin-top: 820px;
  gap: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.activity-products-row .acitivity-products--product .product-item {
  width: calc(25% - 24px);
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .acitivity-products--img .mobile-cover-img {
    display: block;
  }

  .acitivity-products--img .cover-img {
    display: none;
  }
}
