.acitivity {
  position: relative;
  background: transparent;
}

.acitivity--img {
  max-width: 1750px;
  z-index: 2;
  margin: 0 auto;
  padding-top: 20px;
}

.activity-halloween-row {
  position: relative;
  z-index: 2;
  margin-top: -120px;
}

.acitivity--info {
  margin-top: 60px;
}

.acitivity--img .mobile-cover-img,
.acitivity--info .mobile-info-img {
  display: none;
}

.acitivity--info .info-img img,
.acitivity--info .mobile-info-img img {
  margin: 0 auto;
}

.acitivity--info .info-img img {
  width: 60%;
}

.activity-halloween-row .acitivity--product {
  gap: 12px;
}

.activity-halloween-row .acitivity--product .product-item {
  width: calc(25% - 12px);
}

@media only screen and (max-width: 767px) {
  .activity-halloween-row {
    margin-top: 0;
  }

  .activity-halloween-row .acitivity--product {
    flex-wrap: wrap;
    gap: 6px;
  }

  .activity-halloween-row .acitivity--product .product-item {
    width: calc(50% - 6px);
  }

  .acitivity--info {
    margin-top: 26px;
  }

  .acitivity--img .mobile-cover-img,
  .acitivity--info .mobile-info-img {
    display: block;
  }

  .acitivity--img .cover-img,
  .acitivity--info .info-img {
    display: none;
  }
}