.activity-samsung--full-width-false {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px);
}

.yee-activity-samsung {
  position: relative;
}

.yee-theme-light .activity-samsung {
  background: var(--dark-bg-body);
}

.yee-theme-dark .activity-samsung {
  background: var(--light-bg-body);
}

.activity-samsung--bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.activity-samsung--bg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.activity-samsung {
  box-shadow: var(--block-shadows);
  /* background-image: var(--background-image); */
  z-index: 1;
}

.yee-activity-samsung .activity-samsung {
  /* background-color: var(--color-bg, var(--bg-body, #f5f5f5)); */
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 60px 0 !important;
  width: 68vw;
  margin: 0 auto;
}

.activity-samsung--bg .bg-desktop {
  display: block
}

.activity-samsung:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background: rgba(var(--color-overlay-rgb), var(--overlay-opacity));
}

.activity-samsung--inner {
  position: relative;
  z-index: 10;
}

.activity-samsung--cover img {
  width: 100%;
  height: auto;
}

.activity-samsung--cover-mobile,
.activity-samsung--bg .bg-mobile {
  display: none;
}

.activity-samsung--remark {
  font-size: 16px;
  font-weight: 400;
  margin-top: 36px;
}

.activity-samsung .thb-placeholder {
  width: 150px;
  margin: 0 auto;
}

.activity-samsung .activity-samsung--discount .coupon-char {
  background: rgba(169, 169, 255, 0.1);
  border-radius: 5px;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 10px;
  padding: 5px 10px 5px 20px;
  margin: 0 5px;
}

.activity-samsung .activity-samsung--discount .discount-btn button {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}

.activity-samsung .activity-samsung--discount .discount-btn span {
  padding-top: 4px;
}

.activity-samsung .activity-samsung--discount .discount-btn .discount-copied {
  display: none;
}

.activity-samsung .activity-samsung--discount .discount-btn button.copied .discount-copy {
  display: none;
}

.activity-samsung .activity-samsung--discount .discount-btn button.copied .discount-copied {
  display: inline-block;

}

.activity-samsung .activity-samsung--discount .discount-btn .button-img {
  position: absolute;
  top: 0;
  left: 0;
}

.activity-samsung .activity-samsung--discount .discount-btn .button-img img {
  width: 100%;
  height: 100%;
}

.activity-samsung .activity-samsung--discount .discount-or {
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

.activity-samsung .activity-samsung--discount .discount-title {
  font-weight: 300;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
  width: 50%;
}

.activity-samsung .activity-samsung--discount .discount-subtitle {
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

.activity-samsung .signup-container {
  max-width: 580px;
}

/* .activity-samsung .signup-container fieldset {
  overflow: hidden;
} */
.activity-samsung--email {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.activity-samsung--email input[type='email'] {
  width: 100%;
  height: 56px;
  flex-shrink: 0;
  font-size: 26px;
  border-radius: 73.738px;
  border: 0.752px solid #fff;
  background: rgba(190, 173, 255, 0.14);
}

.activity-samsung--email input[type='email']:focus+label,
.activity-samsung--email input[type='email']:not(:placeholder-shown)+label {
  display: none;
}

.activity-samsung--email .signup-container .signup-form .field label {
  color: #fff;
  font-size: 21.068px;
  font-weight: 400;
  opacity: 0.4;
  top: 2px;
}

.activity-samsung--email .signup-container button {
  position: absolute;
  bottom: 0px;
  right: 3px;
  top: 3px;
  max-height: 50px;
  width: 110px;
  border: unset;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  background: linear-gradient(118deg, #2529FF 0%, #EF00B7 100%);
  border-radius: 51px 51px 51px 51px;
  padding: 0 20px;
}

.activity-samsung--email .signup-container .signup-form fieldset svg {
  position: absolute;
  top: -46px;
  right: -45px;
}

.activity-samsung--email .signup-container .form-notification {
  padding-left: 25px;
  text-align: left;
}

.activity-samsung--email .signup-container .form-notification svg {
  position: absolute;
  top: 0;
  left: 0;
}

.activity-samsung--email .signup-container .signup-container--terms {
  margin-top: 36px;
  display: flex;
  align-items: flex-start;
}

.activity-samsung--email .signup-container .signup-container--terms a {
  font-size: 16px;
  font-weight: 275;
  text-align: left;
  width: 100%;
  display: block;
  color: rgba(255, 255, 255, 0.9);
}

.activity-samsung--email .signup-container .signup-container--terms a:hover {
  color: #fff;
}

.activity-samsung--email .signup-container .custom-filter-checkbox[type='checkbox'] {
  width: 20px;
  min-width: 20px;
  height: 20px;
  border: 1px solid #767676;
  margin: 6px 8px 0 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
}

.activity-samsung--email .signup-container .custom-filter-checkbox[type='checkbox']:disabled {
  background: #3b3b3b;
}

.activity-samsung--email .signup-container .custom-filter-checkbox[type='checkbox']:checked {
  background: #0075ff;
  position: relative;
}

.activity-samsung--email .signup-container .custom-filter-checkbox[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.activity-samsung--email #login-user-notification {
  display: none;
}

.activity-samsung--email .activity-samsung--text {
  width: 18%;
  font-weight: 800;
  font-size: 52px;
  line-height: 57px;
  opacity: .9;
}

@media only screen and (max-width: 1024px) {
  .yee-activity-samsung .activity-samsung {
    /* background-image: var(--background-image-mobile); */
    padding: 24px 16px 0 !important;
    text-align: center;
    width: 100%;
  }

  .activity-samsung .activity-samsung--cover,
  .activity-samsung--title .activity-samsung--title-text,
  .activity-samsung--bg .bg-desktop {
    display: none;
  }

  .activity-samsung--icon svg {
    width: 91px;
    height: 81px;
  }

  .activity-samsung--title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .activity-samsung--title svg,
  .activity-samsung--bg .bg-mobile {
    display: block;
  }

  .activity-samsung--subtitle {
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 134%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .activity-samsung--cover-mobile {
    display: block;
    margin-bottom: 28px;
  }

  .activity-samsung .activity-samsung--discount .discount-btn {
    margin: 10px 0;
  }

  .activity-samsung .activity-samsung--discount .discount-btn span {
    padding-top: 2px;
  }

  .activity-samsung .signup-container {
    max-width: 280px;
  }

  .activity-samsung--email {
    flex-direction: column;
  }

  .activity-samsung--email input[type='email'] {
    font-size: 16px;
    padding: 0 8px;
    height: 32px;
  }

  .activity-samsung--email .signup-container .signup-form .field label {
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
    height: 32px;
    top: 0;
  }

  .activity-samsung--email .signup-container button {
    background: linear-gradient(118deg, #EEADFF 0%, #C907FC 100%);
    max-height: 26px;
    width: 75px;
    border-radius: 50px;
    font-size: 14px;
  }

  .activity-samsung--email .signup-container .signup-form fieldset svg {
    width: 200px;
    height: 112px;
    top: -30px;
    right: -28px;
  }

  .activity-samsung--email .signup-container .signup-container--terms {
    margin-top: 10px;
  }

  .activity-samsung--email .signup-container .signup-container--terms a {
    font-size: 10px;
    font-weight: 300;
  }

  .activity-samsung--email .signup-container .custom-filter-checkbox[type='checkbox'] {
    width: 16px;
    min-width: 16px;
    height: 16px;
  }

  .activity-samsung--email .signup-container .custom-filter-checkbox[type='checkbox']:checked::before {
    left: 4px;
    top: 0px;
  }

  .activity-samsung--email .activity-samsung--discount {
    margin-top: 50px;
  }

  .activity-samsung--email .activity-samsung--discount .coupon-char {
    background: rgba(255, 231, 255, 0.16);
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 5px;
    padding: 2px 2px 0 6px;
    margin: 0 2px;
  }

  .activity-samsung--email .activity-samsung--text {
    width: 100%;
    height: 20%;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
  }

  .activity-samsung--remark {
    width: 60%;
    margin: 28px auto;
    font-size: 12px;
    font-weight: 300;
  }

  .activity-samsung .single-image--mobile {
    padding: 0 16px;
  }

  .activity-samsung--inner {
    width: 100%;
  }

  .activity-samsung--cover-mobile img {
    width: 100%;
    height: auto;
  }
}