.announcement-bar,
.announcement-bar--carousel .flickity-nav,
.announcement-bar--carousel .flickity-nav svg path,
.announcement-bar--item svg,
.announcement-bar--item a {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.announcement-bar--inner {
  padding: 0 15px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .announcement-bar--inner {
    padding: 8px 50px;
  }
}

.yee-announcement-bar {
  position: relative;
  z-index: 52;
}

.announcement-bar {
  background: linear-gradient(90deg, #ff3b10 1.2%, #d33255 38.01%, #9a26ab 72.41%, #641bff 99.67%);
  color: var(--color-announcement-bar-text, #fff);
  line-height: 1;
  position: relative;
}

.yee-activity-christmas .announcement-bar,
.yee-activity-new-year .announcement-bar {
  background: transparent;
}

.announcement-bar--bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.announcement-bar--bg img {
  height: 100%;
}

.announcement-bar--bg .bar--bg--mobile {
  display: none;
}

.announcement-bar--inner {
  max-width: none;
  white-space: nowrap;
  font-size: calc(var(--font-announcement-scale, 1) * 13px);
  font-weight: 400;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.announcement-bar--marquee.direction-left>div {
  animation: marquee-left var(--marquee-speed) linear infinite;
}

.announcement-bar--marquee.direction-right>div {
  animation: marquee-right var(--marquee-speed) linear infinite;
}

.announcement-bar--marquee>div {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  will-change: transform;
}

.announcement-bar--marquee:hover>div {
  animation-play-state: paused;
}

.announcement-bar--marquee .announcement-bar--item:empty {
  display: none;
}

.announcement-bar--carousel {
  text-align: center;
}

.announcement-bar--carousel .carousel {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.announcement-bar--carousel .carousel__slide {
  display: block;
  white-space: normal;
  text-align: center;
}

.announcement-bar--carousel .carousel__slide~.carousel__slide {
  display: none;
}

.announcement-bar--carousel .carousel .flickity-slider {
  display: flex;
  align-items: center;
}

.announcement-bar--carousel .carousel.flickity-enabled .carousel__slide~.carousel__slide {
  display: block;
}

.announcement-bar--carousel .flickity-nav {
  display: flex;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  opacity: 1;
  box-shadow: none;
  background: transparent;
}

.announcement-bar--carousel .flickity-nav svg path {
  stroke: var(--color-announcement-bar-text, #fff);
}

.announcement-bar--item {
  line-height: 1.1;
  z-index: 1;
}

.announcement-bar--item .bar-content {
  margin-right: 12px;
}

.announcement-bar--item .bar-text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
}

.announcement-bar--item .bar-sub-text {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.24px;
}

.announcement-bar--item .bar-line {
  margin: 0 12px;
  color: rgba(255, 255, 255, 0.4);
}

.announcement-bar--item .bar-button a.button {
  color: #ffffff;
  padding: 5px 12px;
  height: auto;
}

.yee-activity-christmas .announcement-bar--item .bar-button a.button {
  color: #fb3b18;
}

.yee-activity-new-year .announcement-bar--item .bar-button a.button {
  color: #ff9d01;
  background: #fff;
}

.announcement-bar--item svg {
  /* margin-right: 12px;
  height: 14px; */
  fill: var(--color-announcement-bar-text, #fff);
}

.announcement-bar--item a {
  color: var(--color-announcement-bar-text, #fff);
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 767px) {
  .announcement-bar--inner {
    padding: 8px 0;
  }

  .announcement-bar--item .bar-left-icon,
  .announcement-bar--item .bar-right-icon {
    display: none;
  }

  .announcement-bar--item .bar-wrapper {
    width: 100%;
    flex-direction: column;
    gap: 4px;
  }

  .announcement-bar--item .announcement-bar--item .bar-content {
    margin-right: 0;
  }

  .announcement-bar--carousel .carousel {
    width: 80%;
  }

  .announcement-bar--bg .bar--bg--mobile {
    display: block;
  }

  .announcement-bar--bg .bar--bg {
    display: none;
  }
}