.breadcrumbs {
  padding: 0 15px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .breadcrumbs {
    padding: 0 50px;
  }
}

.breadcrumbs-section + .yee-product .thb-product-detail {
  margin-top: 0;
}

.breadcrumbs-section + .yee-template-header .template-header {
  padding-top: 15px;
}

.breadcrumbs-section scroll-shadow {
  width: 100%;
}

.breadcrumbs {
  font-size: 0.75rem;
  overflow-x: scroll;
  padding: 15px 0;
  display: inline-flex;
  width: 100%;
  white-space: nowrap;
  max-width: 100vw;
  text-align: left;
  scrollbar-width: none;
}
@media only screen and (min-width: 768px) {
  .breadcrumbs {
    padding: 15px 0;
    overflow-x: hidden;
  }
}
.breadcrumbs::-webkit-scrollbar {
  display: none;
}
.breadcrumbs i {
  opacity: 0.2;
  display: inline-block;
  margin: 0 8px;
}
.breadcrumbs a {
  text-underline-offset: 3px;
}

.yee-theme-white {
  width: 100%;
  background: var(--color-product-bg);
}

.yee-theme-white .breadcrumbs,
.yee-theme-white .breadcrumbs a {
  color: var(--color-product-font);
}

.yee-theme-white scroll-shadow {
  display: inline-block;
  /* width: 100%; */
  --scroll-shadow-size: 20;
  --scroll-shadow-top: linear-gradient(0deg, rgba(253, 253, 253, 0) 0%, #fdfdfd 100%);
  --scroll-shadow-bottom: linear-gradient(180deg, rgba(253, 253, 253, 0) 0%, #fdfdfd 100%);
  --scroll-shadow-left: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  --scroll-shadow-right: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
