.section-collapsible-title-content {
  padding: 60px;
}

.collapsible-content .accordion summary span svg {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
}

.collapsible-content--has-bg {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px);
}

.collapsible-content--has-bg {
  box-shadow: var(--block-shadows);
}

.collapsible-content .accordion + .accordion {
  border-top: 0;
  margin-top: 0;
}
.collapsible-content .accordion-container .accordion:last-child {
  margin-bottom: 0;
}
.collapsible-content .accordion details[open] summary span svg {
  transform: rotateX(0deg);
}
.collapsible-content .accordion summary {
  width: 100%;
  list-style: none;
  position: relative;
  font-size: 0.9375rem;
  line-height: 1;
  font-weight: var(--font-body-medium-weight, 500);
  padding-bottom: 0 0 16px;
  color: var(--color-heading, #1a1c1d);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collapsible-content .accordion summary span {
  display: inline-flex;
  align-items: center;
  transform-origin: center;
  position: absolute;
  top: 50%;
  right: 0;
  height: auto;
  width: 28px;
  z-index: 5;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.collapsible-content .accordion summary span svg {
  transform: rotateX(180deg);
}
[dir='rtl'] .accordion summary {
  padding: 20px 0 20px 40px;
}
[dir='rtl'] .accordion summary span {
  right: auto;
  left: 0;
}
.collapsible-content .accordion summary::-webkit-details-marker {
  display: none;
}
.collapse-content--title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 116%;
}
.collapsible-content .accordion {
  padding: 32px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0;
  max-width: none;
}
.collapsible-content .accordion .accordion__content {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 0;
}
.collapsible-content .accordion .accordion__content > *:last-child {
  margin-bottom: 0;
}

.collapsible-content {
  color: var(--color-text);
  padding: 40px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
}
.collapsible-content a {
  color: var(--color-links, var(--color-text));
}
@media only screen and (min-width: 7688px) {
  .collapsible-content .section-header {
    align-items: start;
    padding-top: 0;
  }
  .collapsible-content .section-header--content {
    position: sticky;
    top: 20px;
    left: 0;
  }
  .header-sticky--active .collapsible-content .section-header--content {
    top: calc(var(--header-height, 0px) + 20px);
  }
}
.collapsible-content--has-bg {
  padding: 25px;
  background: var(--color-bg, var(--bg-body, #f5f5f5));
}
@media only screen and (min-width: 768px) {
  .collapsible-content--has-bg {
    padding: 55px;
  }
}

@media only screen and (max-width: 767px) {
  .section-collapsible-title-content {
    padding: 40px 16px;
  }
  .collapsible-content {
    padding: 24px;
  }

  .collapsible-content .accordion {
    padding: 24px;
  }

  .accordion summary {
    padding-bottom: 8px;
  }
}
.collapsible-content .accordion:first-child {
  border-top: 0;
  padding-top: 0;
}
.collapsible-content .accordion:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
