.featured-collection {
  overflow: hidden;
  position: relative;
  padding: 100px 0 0;
}
.section-header,
.section-header--content {
  width: 100%;
}
.section-header {
  padding: 0;
}
.section-header--title {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.section-header--title > span {
  background: linear-gradient(
    108deg,
    #46d3ff 0.14%,
    #6178ff 24.02%,
    #a750ff 39.05%,
    #ff1ec0 56.82%,
    #ff784b 77.82%,
    #ffce51 95.45%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.featured-collection__inner {
  margin: 40px 0;
}
.featured-collection__inner--column {
  width: 100%;
}
.custom-text--button {
  text-align: center;
}
.custom-text--button span {
  display: none;
}
.custom-button--primary {
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 49px;
  border: 1px solid #434544;
  background: #2d2d2d;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.28px;
}
@media only screen and (max-width: 767px) {
  .featured-collection .carousel__slide {
    width: calc(90vw - 15px);
  }

  .featured-collection {
    overflow: hidden;
    position: relative;
    padding: 20px 0 0;
  }

  .section-header--title {
    text-align: center;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }

  .featured-collection__inner {
    margin: 20px 0 0;
  }

  .featured-collection--row {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featured-collection--row .products {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featured-collection--row .products .columns {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .featured-collection--row .products .columns .product-card {
    margin: 0 0 20px;
  }
}
.featured-collection .products.row {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row {
    margin: 0 -15px;
    width: calc(100% + 30px);
    padding: 0 11px;
    display: grid;
    grid-gap: 0;
    grid-auto-flow: column;
    grid-auto-columns: minmax(50%, 1fr);
    overflow-x: auto;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row::-webkit-scrollbar {
    display: none;
  }
  .featured-collection.swipe-on-mobile .featured-collection__inner.display-type--grid .products.row .columns {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.featured-collection .text-center .button {
  margin-top: 10px;
}
