.image-products .section-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-products .image-products-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.image-products .image-products--img {
  border-radius: 30px;
}

.mobile-cover-img {
  display: none;
}

.image-products--product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex-direction: row-reverse;
}

.product-item {
  width: calc(50% - 12px);
}
@media only screen and (min-width: 768px) {
  .image-products .image-products-container.row {
    flex-direction: row;
  }

  .image-products .image-products-container.row-reverse {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-cover-img {
    display: block;
  }

  .cover-img {
    display: none;
  }

  .image-products .image-products-container {
    display: block;
    flex: none;
  }

  .image-products .image-products--img {
    border-radius: 16px;
    width: 100%;
  }

  .image-products--product {
    gap: 12px;
  }

  .product-item {
    width: calc(50% - 8px);
  }
}
