.image-products {
  padding: 60px;
  position: relative;
}

.image-products .section-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;
}

.image-products .image-products-container {
  gap: 24px;
  position: relative;
}

.image-products .image-products--img {
  border-radius: 30px;
  width: 75%;
  overflow: hidden;
}

.image-products .mobile-cover-img {
  display: none;
}

.image-products .mobile-cover-img img,
.image-products .cover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-products .image-products--img .cover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding-top: 100px;
}

.image-products .cover-content .cover-title {
  font-weight: 600;
  font-size: 36px;
  width: 60vw;
}

.image-products .cover-content .cover-desc {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.9);
}

.image-products .cover-content .text-button {
  font-weight: 900;
  font-size: 22px;
  line-height: 33px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 14px;
  border: 1px solid #FFFFFF;
  padding: 8px 30px;
}

.image-products .cover-content .text-button:hover {
  background: rgba(255, 255, 255, 0.26);
}

.image-products .cover-content .text-button svg {
  display: none;
}

.image-products--product {
  gap: 24px;
}

.image-products .product-item {
  width: calc(50% - 12px);
}

.image-products-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #090538;
}

.image-products-bg img {
  width: 100%;
  height: 100%;
}

.image-products-bg-icons .ic-moon {
  position: absolute;
  top: 0;
  left: 0;
}

.image-products-bg-icons .ic-spider-web-small {
  position: absolute;
  top: 0;
  right: 0;
}

.image-products-bg-icons .ic-ghost {
  position: absolute;
  bottom: 0;
  right: 0;
}

.image-products-row {
  z-index: 2;
  position: relative;
}

.image-products-halloween-hand {
  position: absolute;
  top: 35%;
  left: -35px;
}

@media only screen and (min-width: 768px) {
  .image-products .image-products-container.row-regular {
    flex-direction: row;
  }

  .image-products .image-products-container.row-reverse {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 767px) {
  .image-products {
    padding: 40px 0;
  }

  .yee-activity-halloween .image-products {
    background: #090538;
  }

  .image-products .image-products-bg {
    display: none;
  }

  .image-products .section-header {
    padding-bottom: 16px;
  }

  .image-products .mobile-cover-img {
    display: block;
  }

  .image-products .cover-img {
    display: none;
  }

  .image-products .image-products-container {
    display: block;
    flex: none;
    width: 100%;
    padding: 0;
  }

  .image-products .image-products--img {
    border-radius: 16px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 16px;
  }

  .image-products .image-products--img .cover-content {
    padding-top: 55px;
  }

  .image-products .cover-content .cover-title {
    font-weight: bold;
    font-size: 24px;
  }

  .image-products .cover-content .cover-desc {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 20px;
  }

  .image-products .cover-content .text-button {
    border-radius: 7px;
    font-weight: 900;
    font-size: 12px;
    line-height: 17px;
    padding: 4px 15px;
  }

  .image-products--product {
    gap: 12px;
  }

  .image-products .product-item {
    width: calc(50% - 6px);
  }

  .image-products-halloween-hand {
    display: none;
  }
}