.image-products {
  padding-top: 60px;
  position: relative;
}

.image-products .section-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 40px;
}

.image-products .image-products-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 24px;
  position: relative;
}

.image-products .image-products--img {
  border-radius: 30px;
  width: 75%;
  overflow: hidden;
}

.mobile-cover-img {
  display: none;
}

.mobile-cover-img,
.cover-img {
  width: 100%;
  height: 100%;
}

.mobile-cover-img img,
.cover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-products--product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.product-item {
  width: calc(50% - 12px);
}

.image-product-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.image-product-bg img {
  width: 100%;
  height: 100%;
}

.image-product-row {
  z-index: 2;
  position: relative;
}

.image-product-halloween-hand {
  position: absolute;
  top: 35%;
  left: -35px;
}

@media only screen and (min-width: 768px) {
  .image-products .image-products-container.row-regular {
    flex-direction: row;
  }

  .image-products .image-products-container.row-reverse {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 767px) {
  .image-products {
    padding-top: 40px;
  }

  .image-products .section-header {
    padding-bottom: 16px;
  }

  .mobile-cover-img {
    display: block;
  }

  .cover-img {
    display: none;
  }

  .image-products .image-products-container {
    display: block;
    flex: none;
    width: 100%;
    padding: 0;
  }

  .image-products .image-products--img {
    border-radius: 16px;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 16px;
  }

  .image-products--product {
    gap: 12px;
  }

  .product-item {
    width: calc(50% - 8px);
  }
}
