.info-bar {
  padding: 11px 0;
}

.info-bar--inner {
  max-width: 800px;
  margin: 0 auto;
}

.info-bar .info-bar--item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.info-bar .bar-text {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.24px;
}

.yee-theme-light .info-bar .bar-text {
  color: var(--light-color-body);
}

.yee-theme-dark .info-bar .bar-text {
  color: var(--dark-color-body);
}

.info-bar svg {
  width: 18px;
  height: 18px;
}

.yee-theme-light .info-bar svg path {
  stroke: var(--light-color-body);
}

.yee-theme-dark .info-bar svg path {
  stroke: var(--dark-color-body);
}

.info-bar .info-bar--item:first-child svg path {
  stroke: unset;
}

.yee-theme-light .info-bar .info-bar--item:first-child svg path {
  fill: var(--light-color-body);
}

.yee-theme-dark .info-bar .info-bar--item:first-child svg path {
  fill: var(--dark-color-body);
}

.info-bar-mobile {
  display: none;
}

@media (max-width: 768px) {
  .info-bar-dekstop {
    display: none;
  }

  .info-bar-mobile {
    display: block;
  }

  .info-bar--carousel .flickity-nav,
  .info-bar--carousel .flickity-nav svg path {
    transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
  }

  .info-bar--carousel .carousel {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  .info-bar--carousel .carousel__slide {
    width: 100%;
    gap: 4px;
    white-space: normal;
  }

  .info-bar--carousel .carousel__slide~.carousel__slide {
    display: none;
  }

  .info-bar--carousel .carousel .flickity-slider {
    display: flex;
    align-items: center;
  }

  .info-bar--carousel .carousel.flickity-enabled .carousel__slide~.carousel__slide {
    display: flex;
  }

  .info-bar--carousel .flickity-nav {
    display: flex;
    width: 20px;
    height: 20px;
    margin-top: 0;
    opacity: 1;
    box-shadow: none;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .yee-theme-dark .info-bar--carousel .flickity-nav svg path {
    stroke: var(--dark-color-body);
  }

  .yee-theme-light .info-bar--carousel .flickity-nav svg path {
    stroke: var(--light-color-body);
  }
}