.info-bar {
  padding: 11px 0;
}

.info-bar--inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}

.info-bar--inner .info-bar--item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-bar--inner .bar-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.24px;
}

.info-bar--inner svg {
  width: 18px;
  height: 18px;
}
.info-bar--inner svg path {
  stroke: rgba(255, 255, 255, 0.6);
}

.info-bar--inner .info-bar--item:first-child svg path {
  stroke: unset;
  fill: rgba(255, 255, 255, 0.6);
}
