.thb-predictive-search--label {
  display: block;
  font-style: normal;
  font-weight: var(--font-body-medium-weight, 500);
  font-size: 0.9375rem;
  line-height: 1;
  margin-bottom: 20px;
}

.thb-predictive-search--popular {
  margin-bottom: 30px;
}
.thb-predictive-search--popular ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.thb-predictive-search--popular a {
  font-size: 0.9375rem;
  font-weight: 400;
}
.thb-predictive-search--popular a mark {
  font-weight: var(--font-body-medium-weight, 500);
  background: transparent;
  color: #ffffff;
}

.thb-predictive-search--promotion-products .products.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
}
.thb-predictive-search--promotion-products .products.row .columns {
  padding: 0;
  width: calc(50% - 12px);
  max-width: none;
  flex: none;
}

.side-panel .side-panel-header div {
  padding: 0;
}
@media only screen and (min-width: 1068px) {
  .thb-predictive-search--promotion-products .products.row {
    grid-auto-columns: minmax(40%, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}
