.product-slide-show {
  padding: 80px 0;
}

.product-slide-show .slideshow__slide-content:after,
.product-slide-show .slideshow--full-width-false {
  isolation: isolate;
  border-radius: var(--block-border-radius, 16px);
}

.product-slide-show .flickity-custom-navigation {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.section-product-slideshow .row.full-width-row {
  padding: 0;
}
.section-product-slideshow .row.full-width-row > .columns {
  padding: 0;
}

.product-slide-show .slideshow {
  /* display: flex; */
  overflow: visible;
  background: rgba(var(--color-body-rgb), 0.03);
}
.product-slide-show .slideshow_inner {
  display: flex;
}
.product-slide-show .slideshow__slide {
  display: flex;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background: rgba(var(--color-body-rgb), 0.03);
  position: relative;
}
.product-slide-show .animations-false .slideshow__slide {
  clip-path: none !important;
}
.product-slide-show .slideshow__slide-heading {
  font-weight: var(--font-body-bold-weight, 600);
}
.product-slide-show .animations-true .slideshow__slide-heading {
  opacity: 0;
}
.product-slide-show .slideshow__slide .button-overflow-container {
  overflow: hidden;
  display: inline-flex;
  margin-right: 5px;
  margin-bottom: 5px;
}
.product-slide-show .slideshow__slide .button-overflow-container + .button-overflow-container .text-button {
  margin-left: 20px;
}
@media only screen and (min-width: 768px) {
  .product-slide-show .slideshow__slide .button {
    margin-top: 15px;
  }
}
.product-slide-show .slideshow__slide p.split-text.description-size {
  font-size: remc-calc(15px);
}
@media only screen and (min-width: 1068px) {
  .product-slide-show .slideshow__slide p.split-text.description-size--medium {
    font-size: 0.9375rem;
  }
}
@media only screen and (min-width: 1068px) {
  .product-slide-show .slideshow__slide p.split-text.description-size--large {
    font-size: 1.0625rem;
  }
}
.product-slide-show .animations-true .slideshow__slide p.split-text {
  opacity: 0;
}
.product-slide-show .animations-true .slideshow__slide .inline-badge {
  opacity: 0;
}
.product-slide-show .slideshow__slide .subheading {
  color: var(--color-text);
}
.product-slide-show .animations-true .slideshow__slide .subheading {
  opacity: 0;
}
.product-slide-show .slideshow__slide-inner {
  display: flex;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 15;
  max-width: 1280px;
  transform: translateX(-50%);
}
.product-slide-show .slideshow__slide-inner .slideshow__slide-heading,
.product-slide-show .slideshow__slide-inner p,
.product-slide-show .slideshow__slide-inner p.subheading {
  color: var(--color-text);
}
.product-slide-show .slideshow__slide-inner.content-top-left {
  justify-content: flex-start;
  align-items: flex-start;
}
.product-slide-show .slideshow__slide-inner.content-top-center {
  justify-content: center;
  align-items: flex-start;
}
.product-slide-show .slideshow__slide-inner.content-top-right {
  justify-content: flex-end;
  align-items: flex-start;
}
.product-slide-show .slideshow__slide-inner.content-middle-left {
  justify-content: flex-start;
  align-items: center;
}
.product-slide-show .slideshow__slide-inner.content-middle-center {
  justify-content: center;
  align-items: center;
}
.product-slide-show .slideshow__slide-inner.content-middle-right {
  justify-content: flex-end;
  align-items: center;
}
.product-slide-show .slideshow__slide-inner.content-bottom-left {
  justify-content: flex-start;
  align-items: flex-end;
}
.product-slide-show .slideshow__slide-inner.content-bottom-center {
  justify-content: center;
  align-items: flex-end;
}
.product-slide-show .slideshow__slide-inner.content-bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}
.product-slide-show .slideshow__slide-inner.content-has-bg--true .slideshow__slide-content {
  margin: 0 15px;
}
@media only screen and (min-width: 768px) {
  .product-slide-show .slideshow__slide-inner.content-has-bg--true .slideshow__slide-content {
    margin: 0 25px;
  }
}
@media only screen and (min-width: 768px) {
  .product-slide-show .slideshow__slide-inner.content-has-bg--true .slideshow__slide-content {
    margin: 0 50px;
  }
}
@media only screen and (min-width: 768px) {
  .product-slide-show .full-width-row .slideshow__slide-inner.content-has-bg--true .slideshow__slide-content {
    margin: 0 50px;
  }
}
@media only screen and (min-width: 1068px) {
  .product-slide-show .full-width-row .slideshow__slide-inner.content-has-bg--true .slideshow__slide-content {
    margin: 0;
  }
}
.product-slide-show .slideshow__slide-adapt-to-image {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
}
.product-slide-show .slideshow__slide-adapt-to-image .placeholder_svg_tag {
  width: 100%;
  height: 550px;
  padding: 50px;
}
.product-slide-show .slideshow__slide-bg {
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 100%;
  z-index: 0;
  background: var(--bg-body, #f5f5f5);
  border-radius: 20px;
  overflow: hidden;
}
.product-slide-show .slideshow__slide-bg svg,
.product-slide-show .slideshow__slide-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-slide-show .slideshow__slide-bg svg {
  padding: 50px;
  fill: var(--color-accent);
  opacity: 0.5;
}
.product-slide-show .slideshow__slide-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 5;
}
.product-slide-show .slideshow__slide-video-bg > video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-slide-show .slideshow__slide-video-bg iframe {
  position: absolute;
  z-index: 1;
  width: 300%;
  height: 150%;
  top: -25%;
  left: -100%;
}
@media only screen and (min-width: 768px) {
  .product-slide-show .slideshow__slide-video-bg iframe {
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
  }
}
@media only screen and (min-width: 1068px) {
  .product-slide-show .slideshow__slide-video-bg iframe {
    width: 150%;
    height: 300%;
    left: -25%;
    top: -100%;
  }
}
.product-slide-show .slideshow__slide-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 11;
  pointer-events: none;
  background: rgba(var(--overlay-color-rgb), var(--overlay-opacity));
}
.product-slide-show .slideshow__slide-content {
  z-index: 20;
  padding: 15px;
  max-width: 500px;
  width: 100%;
  position: relative;
}
.product-slide-show .slideshow__slide-content:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--color-slidebg-rgb), var(--color-slidebg-opacity, 0));
  z-index: -1;
  transform: translate3d(0, 0, 0);
  backdrop-filter: blur(var(--bg-blur, 20px));
  -webkit-backdrop-filter: blur(var(--bg-blur, 20px));
}
@media only screen and (min-width: 768px) {
  .product-slide-show .slideshow__slide-content {
    padding: 35px;
  }
}
@media only screen and (min-width: 1068px) {
  .product-slide-show .slideshow__slide-content {
    padding: 50px;
  }
}
.product-slide-show .slideshow__slide-content .button {
  position: relative;
  z-index: 22;
}
.product-slide-show .slideshow__slide-content-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
}
.product-slide-show .slideshow__slide.content-size-medium .slideshow__slide-content {
  max-width: 640px;
}
.product-slide-show .slideshow__slide.content-size-large .slideshow__slide-content {
  max-width: 780px;
}
.product-slide-show .slideshow__slide:not(.is-selected) iframe {
  display: none;
}
@media only screen and (min-width: 768px) {
  .product-slide-show .slideshow--full-width-true .slideshow__slide-inner .slideshow__slide-content {
    padding: 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .product-slide-show
    .slideshow--full-width-true
    .slideshow__slide-inner.content-has-bg--false
    .slideshow__slide-content {
    padding-left: 0;
    padding-right: 0;
  }
}
.product-slide-show .slideshow--top .product-slide-show .slideshow--autoplay-progress {
  top: calc(var(--header-height, 0px) + 20px);
}
.product-slide-show .slideshow--top .slideshow__slide-inner {
  padding-top: var(--header-height, 0px);
}
@media only screen and (min-width: 768px) {
  .product-slide-show .slideshow.desktop-height-image .slideshow__slide {
    height: auto;
  }
  .product-slide-show .slideshow.desktop-height-image .slideshow__slide .slideshow__slide-bg img {
    object-fit: contain;
  }
}
@media only screen and (max-width: 767px) {
  .product-slide-show .slideshow.mobile-height-image .slideshow__slide {
    height: auto;
  }
  .product-slide-show .slideshow.mobile-height-image .slideshow__slide .slideshow__slide-bg img {
    object-fit: contain;
  }
}
.product-slide-show .flickity-viewport {
  overflow: visible;
  margin: 0 20px;
  /* height: 706px; */
}

.product-slide-show .slideshow__slide.is-selected {
  transform: scale(1.2);
}
@media only screen and (max-width: 767px) {
  .product-slide-show .slideshow.mobile-height-full .flickity-viewport {
    height: calc(100vh - var(--announcement-height, 0px));
  }
  @supports (height: 100dvh) {
    .product-slide-show .slideshow.mobile-height-full .flickity-viewport {
      height: calc(100dvh - var(--announcement-height, 0px));
    }
  }
}
@media only screen and (min-width: 768px) {
  .product-slide-show .slideshow.desktop-height-full .flickity-viewport {
    height: calc(100vh - var(--announcement-height, 0px));
  }
  @supports (height: 100dvh) {
    .product-slide-show .slideshow.desktop-height-full .flickity-viewport {
      height: calc(100dvh - var(--announcement-height, 0px));
    }
  }
}
.product-slide-show .slideshow--autoplay-progress {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 30;
  pointer-events: none;
}
.product-slide-show .slideshow--autoplay-progress .thb-slideshow-progress--svg {
  transform: rotateZ(-90deg);
}
.product-slide-show .slideshow .flickity-viewport {
  min-height: 100%;
  max-height: 100%;
  height: 706px !important;
  position: absolute;
  top: 80px;
}
.product-slide-show .slideshow .flickity-page-dots {
  display: block;
  --color-body: #fff;
}
@media only screen and (min-width: 1068px) {
  .product-slide-show .slideshow .flickity-nav.flickity-prev {
    left: 45px;
  }
}
@media only screen and (min-width: 1068px) {
  .product-slide-show .slideshow .flickity-nav.flickity-next {
    right: 45px;
  }
}

.flickity-static-arrows {
  grid-gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10 px;
}
.flickity-static-arrows .flickity-nav {
  position: static;
  opacity: 1;
  margin: 0;
  background: transparent;
}

.product-slide-show .flickity-custom-navigation {
  background: var(--color-drawer-bg, #fff);
  border-radius: 500px;
  padding: 2px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  z-index: 10;
}
.product-slide-show .flickity-custom-navigation-wrapper {
  position: absolute;
  bottom: 275px;
  transform: translateX(-50%);
  z-index: 40;
  left: 50%;
  padding: 0 10px 10px 0;
  width: 100%;
  text-align: right;
}
@media only screen and (min-width: 768px) {
  .product-slide-show .flickity-custom-navigation-wrapper {
    padding: 0 20px 20px 0;
  }
}
@media only screen and (min-width: 1281px) {
  .product-slide-show .full-width-row .flickity-custom-navigation-wrapper {
    padding-right: 0;
  }
}
.product-slide-show .flickity-custom-navigation .flickity-nav {
  position: static;
  width: 28px;
  height: 28px;
  opacity: 1;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .product-slide-show .flickity-custom-navigation .flickity-nav {
    width: 38px;
    height: 38px;
  }
}
.product-slide-show .flickity-custom-navigation--dots {
  width: 40px;
  text-align: center;
  padding: 0 5px;
  font-weight: var(--font-body-medium-weight, 500);
  font-size: 0.8125rem;
  color: var(--color-heading, #1a1c1d);
}
@media only screen and (min-width: 768px) {
  .product-slide-show .flickity-custom-navigation--dots {
    width: 50px;
    font-size: 0.9375rem;
  }
}
.product-slide-show .flickity-custom-navigation--seperator {
  opacity: 0.6;
}
@media only screen and (min-width: 768px) {
  .product-slide-show .flickity-custom-navigation {
    height: 42px;
  }
}

.product-slide-show .slideshow-image--mobile {
  display: block;
}
@media only screen and (min-width: 768px) {
  .product-slide-show .slideshow-image--mobile {
    display: none;
  }
}

.product-slide-show .slideshow-image--desktop {
  display: none;
}
@media only screen and (min-width: 768px) {
  .product-slide-show .slideshow-image--desktop {
    display: block;
  }
}

.product-slideshow-buttons-container {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.product-slideshow-buttons-container-inner {
  display: inline-block;
}

.product-slideshow-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100px;
}

.product-slideshow-buttons-bg {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  background: linear-gradient(103deg, #111bff 0%, #fd119e 100%);
  transition: transform 0.3s ease;
  z-index: 0;
  /* width: 150px;
    height: 50px; */
}

.product-slideshow-buttons_item {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  background: #ffffff1a;
  cursor: pointer;
  position: relative;
  transition: color 0.3s;
  list-style: none;
}

.product-slideshow-buttons_item-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  z-index: 1;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  padding: 14px 24px;
}

.product-slideshow-buttons_item:hover .product-slideshow-buttons_item-content {
  opacity: 1;
}

.product-slideshow-buttons_item.active .product-slideshow-buttons_item-content {
  opacity: 1;
}

/* @media only screen and (max-width: 767px) {
  .product-slideshow-buttons-container {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .product-slideshow-buttons-container-inner {
    width: 100%;
  }

  .product-slideshow-buttons {
    border-radius: 0;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
  }

  .product-slideshow-buttons-bg {
    display: none;
  }

  .product-slideshow-buttons_item-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    z-index: 1;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    padding: 8px 18px;
  }

  .product-slideshow-buttons_item {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    flex: auto;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    min-width: calc(50% - 4px);
  }

  .product-slideshow-buttons_item.active {
    border: 1px solid transparent;
    background-image: linear-gradient(#000000, #000000),
      linear-gradient(51deg, #ff7c51 0%, #d749af 34.02%, #566cec 66.82%, #4ab1f1 87.82%);
    background-clip: padding-box, border-box;
    background-size: 100%, 100%;
  }
} */
