.single-image {
  padding: 0 15px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .single-image {
    padding: 0 50px;
  }
}

.single-image.activity-wyze {
  padding: 0;
  background: #100a29;
  width: 100%;
  max-width: unset;
  margin: 0;
}

.single-image.full-width--true {
  max-width: none;
  padding: 0;
}
.single-image .image-wrapper,
.single-image img,
.single-image svg {
  margin: 0 auto;
}

.single-image .image-wrapper {
  display: block;
}

.single-image.activity-wyze .image-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.single-image--mobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .single-image {
    padding: 0 16px;
  }
  .single-image--mobile {
    display: block;
  }
  .single-image--desktop {
    display: none;
  }
}
