.video-container {
  padding: 60px 0;
  position: relative;
}

.video-container-halloween {
  background: #090538;
}

.video-container .image-product-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.image-product-bg-icons {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-product-bg-icons .ic-bat {
  position: absolute;
  top: 0;
  left: 0;
}

.image-product-bg-icons .ic-spider-web-large {
  position: absolute;
  top: 0;
  right: 0;
}

.video-container .video-section-inner {
  z-index: 2;
  position: relative;
  display: block;
}

.video-container-halloween .video-section-inner .video-section {
  border-radius: 30px;
  border: 11px solid #3a3760;
  overflow: hidden;
}

.video-container .video-section--inner_halloween-skull {
  position: absolute;
  bottom: -23px;
  right: -35px;
  z-index: 3;
}

.full-width-row-full .video-section--inner {
  padding: 0 15px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.video-section-inner-container {
  display: block;
}

.video-section-inner-container .video-section {
  /* border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1); */
}

.full-width-row-full .video-section {
  border-radius: unset;
  overflow: auto;
  border: none;
}

@media only screen and (min-width: 768px) {
  .full-width-row-full .video-section--inner {
    padding: 0 50px;
  }
}

.video-section--container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.video-section--container.video-aspect--16-9 {
  aspect-ratio: 16/9;
}
.video-section--container.video-aspect--9-16 {
  aspect-ratio: 9/16;
}
.video-section--container.video-aspect--4-3 {
  aspect-ratio: 4/3;
}
.video-section--container.video-aspect--3-4 {
  aspect-ratio: 3/4;
}
.video-section--container.video-aspect--square {
  aspect-ratio: 1/1;
}
.video-section--container iframe,
.video-section--container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .video-container {
    padding: 16px 0;
  }

  .video-container .image-product-bg {
    display: none;
  }

  .video-container .video-section-inner {
    margin: 0 16px;
    padding: 0;
  }

  .video-container-halloween .video-section-inner .video-section {
    border-radius: 12px;
    border: 2px solid #3a3760;
    overflow: hidden;
  }

  .video-section--inner_halloween-skull {
    display: none;
  }
}
